<aside
        class="max-[860px]:hidden min-h-screen w-[20%] text-gray-600 px-4 pt-8"
>
  <a
          href="/domains"
          class="flex text-lg font-medium mb-2 hover:bg-gray-200 p-1 rounded-lg transition-colors duration-300 ease-in-out"
  ><img
          width="19"
          height="19"
          src="./../../static/world.svg"
          alt="globe--v1"
          class="mr-2"
  />
    <h3>Domains</h3></a
  >
  <a
          href="/account"
          class="flex text-lg font-medium mb-2 hover:bg-gray-200 p-1 rounded-lg transition-colors duration-300 ease-in-out"
  ><img
          width="19"
          height="19"
          src="./../../static/user.svg"
          alt="globe--v1"
          class="mr-2"
  />
    <h3>Account</h3></a
  >
  <a
          href="#menu-item-4"
          class="flex text-lg font-medium mb-2 hover:bg-gray-200 p-1 rounded-lg transition-colors duration-300 ease-in-out"
  ><img
          width="19"
          height="19"
          src="./../../static/telegram.svg"
          alt="globe--v1"
          class="mr-2"
  />
    <h3>Notifications</h3></a
  >
  <a
          href="#menu-item-5"
          class="flex text-lg font-medium mb-2 hover:bg-gray-200 p-1 rounded-lg transition-colors duration-300 ease-in-out"
  ><img
          width="19"
          height="19"
          src="./../../static/integration.svg"
          alt="globe--v1"
          class="mr-2"
  />
    <h3>Integrations</h3></a
  >
  <a
          href="/logout"
          class="flex text-lg font-medium mb-2 hover:bg-gray-200 p-1 rounded-lg transition-colors duration-300 ease-in-out"
  ><img
          width="20"
          height="20"
          src="./../../static/sign-out.svg"
          alt="globe--v1"
          class="mr-2"
  />
    <h3>Sign out</h3></a
  >
</aside>