<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="Welcome to CertAlert, your all-in-one SSL certificate tracker! Keep your digital presence secure with our intuitive platform that monitors SSL certificates on your domains. Say goodbye to surprise expirations, and stay ahead of the curve with timely alerts. CertAlert offers seamless integration with popular communication platforms such as email, Telegram bots, Slack, and Discord, ensuring you're promptly notified before any certificate expiration. Our user-friendly interface provides an effortless experience, making SSL certificate management a breeze. Whether you're a website owner, IT professional, or digital enthusiast, CertAlert empowers you to take charge of your SSL certificates, ensuring smooth, uninterrupted encryption for your users. Stay secure, stay informed, and stay on top of your SSL certificates with CertAlert!"
      name="description"
    />
    <meta
      content="Stay secure, stay informed, and stay on top of your SSL certificates with CertAlert!"
      property="og:title"
    />
    <meta
      content="Welcome to CertAlert, your all-in-one SSL certificate tracker! Keep your digital presence secure with our intuitive platform that monitors SSL certificates on your domains. Say goodbye to surprise expirations, and stay ahead of the curve with timely alerts. CertAlert offers seamless integration with popular communication platforms such as email, Telegram bots, Slack, and Discord, ensuring you're promptly notified before any certificate expiration. Our user-friendly interface provides an effortless experience, making SSL certificate management a breeze. Whether you're a website owner, IT professional, or digital enthusiast, CertAlert empowers you to take charge of your SSL certificates, ensuring smooth, uninterrupted encryption for your users. Stay secure, stay informed, and stay on top of your SSL certificates with CertAlert!"
      property="og:description"
    />
    <meta
      content="https://certalert.info/static/logo.png"
      property="og:image"
    />
    <meta
      content="Stay secure, stay informed, and stay on top of your SSL certificates with CertAlert!"
      property="twitter:title"
    />
    <meta
      content="Welcome to CertAlert, your all-in-one SSL certificate tracker! Keep your digital presence secure with our intuitive platform that monitors SSL certificates on your domains. Say goodbye to surprise expirations, and stay ahead of the curve with timely alerts. CertAlert offers seamless integration with popular communication platforms such as email, Telegram bots, Slack, and Discord, ensuring you're promptly notified before any certificate expiration. Our user-friendly interface provides an effortless experience, making SSL certificate management a breeze. Whether you're a website owner, IT professional, or digital enthusiast, CertAlert empowers you to take charge of your SSL certificates, ensuring smooth, uninterrupted encryption for your users. Stay secure, stay informed, and stay on top of your SSL certificates with CertAlert!"
      property="twitter:description"
    />
    <meta
      content="https://certalert.info/static/logo.png"
      property="twitter:image"
    />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Stay secure, stay informed, and stay on top of your SSL certificates with
      CertAlert!
    </title>
    <link rel="stylesheet" href="./../../static/app.css" />
  </head>
  <script
    src="https://unpkg.com/htmx.org@1.9.4"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
    crossorigin="anonymous"
  ></script>
  {% block content %} {% endblock %}
</html>
{% block script %} {% endblock %}
