{% extends "partials/base.html" %} {% block content %}
<div class="flex justify-center items-center h-screen">
  <!-- component -->
  <body class="antialiased bg-white">
    <div
      class="w-full max-w-lg bg-gray-200 p-8 rounded-xl shadow shadow-slate-300"
    >
      <h1 class="text-4xl font-medium">Reset password</h1>
      <p class="text-slate-500">Fill up the form to reset the password</p>

      <form action="/forgot-password" method="post" class="my-10">
        <div class="flex flex-col space-y-5">
          {% if error %}
          <h1>{{error}}</h1>
          {% endif %}
          {% if success %}
          <h1>{{success}}</h1>
          {% endif %}
          <label for="email">
            <p class="font-medium text-slate-700 pb-2">Email address</p>
            <input
              id="email"
              name="email"
              type="email"
              class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
              placeholder="Enter email address"
            />
          </label>

          <button
            class="w-full py-3 font-medium text-white bg-blue-600 hover:bg-blue-500 rounded-lg border-blue-500 hover:shadow inline-flex space-x-2 items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <!-- SVG path here -->
            </svg>

            <span>Reset password</span>
          </button>
          <p class="text-center">
            Not registered yet?
            <a
              href="/signup"
              class="text-blue-600 font-medium inline-flex space-x-1 items-center"
              ><span>Register now </span
              ><span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <!-- SVG path here -->
                </svg></span
              ></a
            >
          </p>
        </div>
      </form>
    </div>
  </body>
</div>
{% endblock %}
