{% extends "partials/base.html" %} {% block content %}
<body class="bg-gray-100">
  <div
    class="flex flex-col justify-center items-center w-full h-full font-bold"
  >
    <form action="/signup/user" method="post" class="w-[500px] flex flex-col">
      <h1 class="font-bold mb-4 text-xl text-gray-900 text-center">
        Create your <span class="text-blue-500">FREE</span> account.
      </h1>
      {% if flash.enterFullname %}
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 mr-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>{{flash.enterFullname}}</div>
      </div>
      {% endif %}
      <div class="mb-6">
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-white dark:text-black"
          >Your full name</label
        >
        <input
          type="name"
          name="fullname"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="e.g John Doe"
          required
        />
      </div>
      <div class="mb-6">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-white dark:text-black"
          >Your e-mail</label
        >
        <input
          type="email"
          name="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="e.g info@example.com"
          required
        />
      </div>
      <div class="mb-6">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Your password</label
        >
        <input
          name="password"
          type="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
          placeholder="password"
        />
      </div>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Sign up
      </button>
      <a
        href="/login/google"
        class="py-2 px-4 flex items-center justify-center bg-black mt-4 text-center text-white w-full font-semibold rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-800 focus:ring-opacity-75 cursor-pointer"
      >
        <img
          width="30px"
          class="mr-1"
          src="../../static/google.svg"
          alt="gogle"
        />
        Sign up with Google
      </a>
      <div class="flex justify-center mt-4 text-black">
        <p>Already a member?</p>
        <a
          href="/login"
          class="underline hover:no-underline hover:text-blue-600 transition-colors ml-2"
          >Sign in</a
        >
      </div>
    </form>
  </div>
</body>
{% endblock %}
