<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      h3 {
        color: #1166f0;
      }
    </style>
  </head>
  <body>
    <p>Hi {{.name}},</p>
    <p>
      We received a request to reset the password for your CertAlert account. To
      proceed with the password reset process, please click on the link below:
    </p>
    <a href="{{.link}}">Password Reset Link</a>
    <p>
      If you didn't initiate this password reset request, there is no need to
      take any further action. Your account remains secure, and no changes have
      been made.
    </p>
    <p>
      Thank you for being a part of CertAlert. If you have any questions or need
      further assistance, please don't hesitate to contact our support team.
    </p>
    <p>Stay secure and vigilant with CertAlert!</p>
    <p>Best regards,</p>
    <p>The CertAlert Team</p>
  </body>
</html>
