<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification Link</title>
  </head>
  <body>
    <p>Hi {{.name}},</p>
    <p>
      Welcome to CertAlert! We are thrilled to have you as part of our
      community.
    </p>
    <p>
      Thank you for completing the sign up process and providing all the
      necessary information.
    </p>
    <p>
      To activate your CertAlert account and start monitoring SSL certificates
      for your domains, we need to verify your email address. Please click on
      the verification link below:
    </p>
    <a href="{{.link}}">Verification Link</a>
    <p>
      By verifying your email, you'll receive important SSL certificate alerts,
      ensuring your website's security remains intact. We understand the
      significance of SSL certificates in establishing trust with your users,
      and CertAlert is here to help you maintain that trust.
    </p>
    <p>
      If you did not initiate this sign up request for CertAlert, please ignore
      this email.
    </p>
    <p>Enhance the security of your domains with CertAlert!</p>
    <p>Best regards, The CertAlert Team</p>
  </body>
</html>
