{% extends "partials/base.html" %} {% block content %} {% include "partials/header.html"%}

<div class="flex w-full max-w-[1250px] mx-auto">
  {% include "partials/aside.html" %}
  <main class="w-full h-screen bg-white mx-2">
    <!-- Changed background color -->
    <form
      action="/domains/add/new"
      method="post"
      class="content text-white my-8 w-full"
    >
      <div class="content text-black my-8 w-full" id="menu-item-2">
        <h2 class="text-2xl font-bold mb-2 max-[850px]:text-center">Track More Domains</h2>
        <p class="font-medium max-[850px]:text-center">
          Add one or more domains, separated by spaces, that you want to track.
        </p>
        {% if flash.maxTrackingDomainsExited %}
        <div
          class="flex items-center p-4 my-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800 font-medium"
          role="alert"
        >
          <svg
            class="flex-shrink-0 inline w-4 h-4 mr-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>{{flash.maxTrackingDomainsExited}}</div>
        </div>
        {% endif %} {% if flash.error %}
        <div
          class="flex items-center p-4 my-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800 font-medium"
          role="alert"
        >
          <svg
            class="flex-shrink-0 inline w-4 h-4 mr-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>{{flash.error}}</div>
        </div>
        {% endif %}
        <div>
          <textarea
            name="domains"
            class="w-[100%] mt-2 h-[200px] bg-[#E5E7EB] border p-2 focus:border-collapse resize-none rounded-md block mb-4 placeholder:text-gray-600"
            placeholder="certalert.info zohiddev.me"
            required
          >
{{flash.domains}}</textarea
          >
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 p-2 rounded-md text-white"
          >
            Track domains
          </button>
        </div>
      </div>
    </form>
  </main>
</div>
{% endblock %}
