{% extends "partials/base.html" %} {% block content %} {% include "partials/header.html"%}
<div class="flex w-full max-w-[1250px] mx-auto">
  {% include "partials/aside.html" %}
  <main class="w-full h-screen bg-white my-8">
    <!-- Changed background color -->
    <div class="w-full max-w-[1100px]">
      <div class="flex justify-between max-[850px]:flex-col">
        <div class="flex flex-col max-[850px]:text-center">
          <div>
            <a
              class="text-3xl font-bold text-gray-600 mb-3 mr-3 cursor-pointer hover:underline"
              href="{{domainName}}"
              target="_blank"
            >
              {{domain.DomainName}}
              <span class="text-base">{{domain.RemoteAddr}}</span>
            </a>
            {% if domain.Expires %}
            <h4 class="text-gray-600 font-medium text-lg mb-3 max-[850px]:text-center">
              {{expires(domain.Expires, "info")}}
            </h4>
            {% else %}
            <h4 class="text-gray-600 font-medium text-lg mb-3 max-[850px]:text-center">unavailable</h4>
            {% endif %}
          </div>
        </div>
        <!-- Notify and Stop Tracking buttons -->
        {% include "partials/domains/domains-info-notify-stop-tr.html" %}
      </div>
      <!-- Domains Status -->
      {% include "partials/domains/domains-status.html" %}
      <!-- Domains info -->
      {% include "partials/domains/domains-info.html" %}
    </div>
  </main>
</div>
{% endblock %}
