{% extends "partials/base.html" %} {% block content %} {% include "partials/header.html"%}
<div class="flex w-full max-w-[1250px] mx-auto">
  {% include "partials/aside.html" %}
  <main class="w-full h-screen bg-white my-8">
    <!-- Changed background color -->
    <div class="w-full max-w-[1100px]">
      <div class="flex justify-between">
        <div class="flex flex-col">
          <div>
            <a
              class="text-3xl font-semibold text-gray-600 mb-3 mr-3 cursor-pointer hover:underline"
              href="{{domainName}}"
              target="_blank"
            >
              {{domain.DomainName}}
              <span class="text-base">{{domain.RemoteAddr}}</span>
            </a>
            {% if domain.Expires %}
            <h4 class="text-gray-600 font-medium text-lg mb-3">
              {{expires(domain.Expires, "info")}}
            </h4>
            {% else %}
            <h4 class="text-gray-600 font-medium text-lg mb-3">unavailable</h4>
            {% endif %}
          </div>
          {% include "partials/domains/domains-status.html" %}
        </div>

        <div class="flex flex-col gap-3">
          <!-- Notify and Stop Tracking buttons -->
          {% include "partials/domains/domains-info-notify-stop-tr.html" %}

          <!-- Search Input -->
          <!-- <input
            type="text"
            id="searchInput"
            class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500"
            placeholder="Search..."
          /> -->
        </div>
      </div>
      <!-- Domains info -->
      {% include "partials/domains/domains-info.html" %}
    </div>
  </main>
</div>
<script>
  const searchInput = document.getElementById("searchInput");
  const domainInfoSections = document.querySelectorAll(".domain-info-section");
  const hrOrTextDivs = document.querySelectorAll(".hr-or-text");
  const noValueFound = document.getElementById("noValueFound");
  const confirmModal = document.getElementById("confirmModal");
  const closeModalButton = document.getElementById("closeModal");
  const cancelButton = document.getElementById("cancelButton");
  const confirmButton = document.getElementById("confirmButton");
  const domainFullinfoHR = document.querySelectorAll(".full-info");

  // Search
  searchInput.addEventListener("input", function () {
    const query = searchInput.value.toLowerCase();

    domainInfoSections.forEach((section, index) => {
      const textContent = section.textContent.toLowerCase();
      if (textContent.includes(query)) {
        section.style.display = "flex";
        hrOrTextDivs[index].style.display = "flex";
      } else {
        section.style.display = "none";
        hrOrTextDivs[index].style.display = "none";
      }
    });
  });
</script>
{% endblock %}
