<div class="full-info flex items-center mb-3">
  <div class="flex-grow h-px border-y-2 bg-gray-100"></div>
  <span class="px-4 text-gray-500">Certificate Information</span>
  <div class="flex-grow h-px border-y-2 bg-gray-100"></div>
</div>
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-blue-600">Issuer</p>
  <p class="text-base font-bold text-gray-800">{{issuer(domain.Issuer)}}</p>
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-indigo-600">Signature Algo</p>
  {% if domain.SignatureAlgo %}
  <p class="text-base font-bold text-gray-800">{{domain.SignatureAlgo}}</p>
  {% else %}
  <p class="text-base font-bold text-gray-800">unavailable</p>
  {% endif %}
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-green-600">PublicKey Algo</p>
  {% if domain.PublicKeyAlgo %}
  <p class="text-base font-bold text-gray-800">{{domain.PublicKeyAlgo}}</p>
  {% else %}
  <p class="text-base font-bold text-gray-800">unavailable</p>
  {% endif %}
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-purple-600">Key Usage</p>
  {% if domain.KeyUsage %}
  <p class="text-base font-bold text-gray-800">{{domain.KeyUsage}}</p>
  {% else %}
  <p class="text-base font-bold text-gray-800">unavailable</p>
  {% endif %}
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-gray-800">Extended usage</p>
  <p class="text-base font-bold text-gray-800">
    {{parseExtKeyUsage(domain.ExtKeyUsages)}}
  </p>
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-blue-600">Issued Date</p>
  <p class="text-base font-bold text-gray-800">{{timeFormat(domain.Issued)}}</p>
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-orange-600">Expiration Date</p>
  <p class="text-base font-bold text-gray-800">
    {{timeFormat(domain.Expires)}}
  </p>
</div>
<div class="full-info flex items-center mb-3">
  <div class="flex-grow h-px border-y-2 bg-gray-100"></div>
  <span class="px-4 text-gray-500">Certificate Details</span>
  <div class="flex-grow h-px border-y-2 bg-gray-100"></div>
</div>
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-purple-600">Encoded PEM</p>
  <a
    href="/domains/pem/{{domain.ID}}"
    target="_blank"
    class="text-base bg-gray-800 text-white px-2 py-1 rounded-md font-medium cursor-pointer"
  >
    VIEW RAW
  </a>
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-green-600">Public Key</p>
  {% if domain.PublicKey %}
  <p class="text-base font-bold text-gray-800">{{domain.PublicKey}}</p>
  {% else %}
  <p class="text-base font-bold text-gray-800">unavailable</p>
  {% endif %}
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-indigo-600">Signature</p>
  {% if domain.Signature %}
  <p class="text-base font-bold text-gray-800">{{domain.Signature}}</p>
  {% else %}
  <p class="text-base font-bold text-gray-800">unavailable</p>
  {% endif %}
</div>
<div class="full-info flex items-center mb-3">
  <div class="flex-grow h-px border-y-2 bg-gray-100"></div>
  <span class="px-4 text-gray-500">Server Information</span>
  <div class="flex-grow h-px border-y-2 bg-gray-100"></div>
</div>
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-yellow-600">Last Checked</p>
  <p class="text-base font-bold text-gray-800">{{LastPollTimeFormat(domain.LastPollAt, locationTimeZone)}}</p>
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-teal-600">Response Time</p>
  {% if domain.Latency %}
  <p class="text-base font-bold text-gray-800">{{domain.Latency}} ms</p>
  {% else %}
  <p class="text-base font-bold text-gray-800">unavailable</p>
  {% endif %}
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex items-center justify-between mb-3">
  <p class="text-base font-bold text-red-600">Error</p>
  {% if domain.Error %}
  <p class="text-base font-bold text-gray-800">Timeout Error</p>
  {% else %}
  <p class="text-base font-bold text-green-600">Everything is good!</p>
  {% endif %}
</div>
<hr class="hr-or-text mb-3" />
<div class="domain-info-section flex justify-between pb-10">
  <p class="text-base font-bold text-pink-600">DNS</p>
  {% if domain.DNSNames %}
  <code
    class="text-sm font-normal text-gray-800 w-full max-w-[350px] text-right"
  >
    {{domain.DNSNames}}
  </code>
  {% else %}
  <p class="text-base font-bold text-gray-800">unavailable</p>
  {% endif %}
</div>
